.header {
    padding: 10px 25px 10px 25px;
    height: fit-content;
}

.floating-button {
    display: none;
}

.margin-right-15 {
    margin-right: 15px;
  }

@media only screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    .floating-button {
        display: block;
    }
}