.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-title {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .signup-form {
    width: 25rem;
  }
  
  .signup-center {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  