.content {
    height: 65vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.faq {
    background-color: #D6E3FE;
    padding: 30px;
}